.Container{  
    display: flex;
    flex-direction: row;
}
 
.item {
    flex: 1;

    padding: 20px;
    margin: 5px;
    background-color: lightblue;
    border: 1px solid darkblue;
    text-align: center;
}
.item img {
    width: 100px;
    height: 100px;
    display: block;
    margin: 0 auto 10px;
}

.navbar {
	display: flex;
	flex-direction: row;
	background-color: #333;

}

.navitem {
	margin: 20px;
	padding: 10px 18px;
}
.navitem a {
	color: white;
	text-decoration: none;
}
.navitem:hover {
	border-radius: 5px;
	background-color: #bdbbbb;
}

.navbar .dropdown {
	display: none;
} 


.navitem:hover .dropdown {
	display: flex;
	flex-direction: column;
	position: absolute;
	top: 6%;
	left: 1%;
	background-color: white;
	min-width: 200px;
}

.navitem .dropdown:hover {
	display: flex;
	flex-direction: column;
}

.navitem:hover .dropdown .dropdownitem {
	display: flex;
	padding: 10px;
	color: black;
	border-bottom: 1px solid #ddd;
	background-color: white;

	a {
		color: black;
	}
}

.navitem:hover .dropdown .dropdownitem:hover {
	padding: 10px;
	color: black;
	border-bottom: 1px solid #ddd;
	background-color: lightsteelblue;

	a {
		color: black;
	}
}


